.similar-job-card {
  /* background: #1e1e1e; */
  background-color: blue;
  color: white;
  border: 1px solid black;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.similar-job-card:hover {
  transform: translateY(-5px);
}

.company-info {
  display: flex;
  /* border: 1px solid black; */
  align-items: center;
  margin-bottom: 10px;
}

.company-logo {
  width: 45px;
  height: 45px;
  margin-right: 12px;
  object-fit: cover;
}

.similar-jobs-li{
    /* background-color: bisque; */
    list-style: none;
    flex: 1 1 calc(33.33% - 20px);
    border-radius:9px;
    min-width: 250px;
    background: linear-gradient(135deg, #007991, #78ffd6);

}

.similar-jobs-card{
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 6px 15px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.job-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  /* color: #fff; */
}

.description h4 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.description p {
  font-size: 15px;
  line-height: 1.5;
  /* color: #f1f1f1; */
}
