.job-card-link,
.job-card-link *{
    text-decoration: none !important;
    color: inherit !important;
    /* display: block; */
    
}

/* .job-card-link:hover,
.job-card-link:hover *{
    text-decoration: none !important;
    color: inherit !important;
} */

.ul-jobs-li{
    border: 1px solid #ccc;
    border-radius: 8px;
    /* padding: px; */
    /* background-color: blue; */
    height: 290px;
    
    /* background: linear-gradient(700deg, #002199, #78ffd6); */
    Background: rgba(255, 255, 255, 0.2) (transparent glass);
    background-color: wheat;
    Backdrop-filter: blur(900px);
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); */
    /* transition: all 2s ease;    */
    cursor: pointer;
     box-shadow: 
        0 14px 35px rgba(0, 0, 0, 0.35), 
        0 8px 20px rgba(0, 0, 0, 0.25);
}

/* .ul-jobs :hover,
.ul-jobs :hover *{
    transform: translateY(-1px); 
    box-shadow: 0 6px 16px rgba(0, 0, 0, 2);
} */

.package-per-annum{
    font-size: 16px;
    font-weight: 400;
}