h1{
    color: green;
    
}

html, body {
  height: 100%;
  margin: 0;
}

.home-pg {
  background: url('/images/homebgLighter.png') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh; 
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home-pg-div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.p-home{
  color: black;
  font-size: 15px;
}

.home-content{
  padding: 50px;
 
}