@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

.page-cont {
  background: #f6f9fc; 
  display: flex;
   background: url('/images/signup_bg.png') no-repeat center center fixed;
   background-size: cover;
   justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  /* margin: -20px 0 50px; */
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #0f2a47;
}


p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  color: #4a5568; 
}

span {
  font-size: 10px;
}

a {
  color: #0f75bc;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.logo-cont{
  height: 37.5px;
  display: flex;
  margin: 25px;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 300.5px;       
  height: auto;       
  display: block;     
  margin: 0 auto 20px auto; 
}

button {
  border-radius: 20px;
  border: 1px solid #0f75bc;
  background-color: #0f75bc; 
  color: #ffffff;
  font-size: 9px;
  font-weight: bold;
  padding: 12px 42px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #0c5a91; 
  border-color: #0c5a91;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 200;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  border-radius: 12px; 
}

input {
  background-color: #edf2f7;
  border: none;
  padding: 9px 12px;
  margin: 7px 0;
  width: 100%;
  border-radius: 5px;
  height: 35px;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.9),
    0 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  width: 712.5px;
  z-index: 10;
  max-width: 100%;
  min-height: 450px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;

}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
  
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: linear-gradient(to right, #0f75bc, #38b2ac); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 15px;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 30px;
  width: 30px;
}

.createACC{
  font-size: 30px;
}